@import "./themes/gruvbox.css";

* {
    font-weight: 700;
    font-size: 16px;
    font-family: "NotoSans Nerd Font";
    box-shadow: none;
    border: none;
    text-shadow: none;
    min-height: 0;
    margin: 0;
    padding: 0;
}

#waybar {
    background: transparent;
    color: @fg-color;
}

#tray,
#clock,
#pulseaudio,
#cpu,
#memory,
#bluetooth,
#workspaces,
#custom-spotify-playing-now,
#custom-notification,
#custom-updates,
#cava,
#workspaces,
#custom-power {
    background-color: @bg1-color;
    padding: 0.4rem 0.8rem;
}

#workspaces {
    padding: 0;
    border-radius: 0.8rem;
}

#workspaces button {
    padding: 0 0.6rem;
    color: @purple-color;
    border-radius: 0.8rem;
}

#workspaces button.active {
    color: @blue-color;
    background: @bg2-color;
}

#workspaces button:hover {
    color: @purple-sat-color;
}

#clock {
    border-radius: 0.8rem;
    color: @yellow-color;
}

#cava {
    border-radius: 0.8rem;
    color: @fg-color;
}

#pulseaudio {
    color: @purple-color;
    border-radius: 0.8rem 0px 0px 0.8rem;
}

#cpu {
    color: @yellow-color;
}

#memory {
    color: @orange-color;
}

#custom-notification {
    color: @purple-sat-color;
    font-size: 1.2rem;
    border-radius: 0px 0.8rem 0.8rem 0px;
}

#custom-spotify-playing-now {
    color: @green-color;
    border-radius: 0.8rem;
}

#custom-power {
    border-radius: 0.8rem;
    color: @red-color;
}

#custom-updates {
    font-size: 1.2rem;
    color: @aqua-color;
}

#bluetooth {
    color: @blue-color;
    font-size: 1.2rem;
}

#tray {
    border-radius: 0.8rem;
}

#tray menu,
tooltip {
    background-color: @bg1-color;
    color: @fg-color;
    border-radius: 0.5rem;
}
