@import "./themes/macchiato.css";

* {
    font-weight: 700;
    font-size: 16px;
    font-family: "NotoSans Nerd Font";
    box-shadow: none;
    border: none;
    text-shadow: none;
    min-height: 0;
    margin: 0;
    padding: 0;
}

#waybar {
    border-radius: 1rem;
    background: @base;
    color: @text;
}

#tray,
#clock,
#pulseaudio,
#cpu,
#memory,
#bluetooth,
#workspaces,
#custom-spotify-playing-now,
#custom-notification,
#custom-updates,
#custom-power {
    background-color: @surface0;
    padding: 0.2rem 0.6rem;
    margin: 0.4rem 0;
}

#workspaces {
    padding: 0.2rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
    border-radius: 0.8rem;
    background-color: @surface0;
}

#workspaces button {
    padding: 0 0.6rem;
    color: @lavender;
    border-radius: 0.8rem;
}

#workspaces button.active {
    color: @sky;
}

#workspaces button:hover {
    background: @surface1;
    color: @sapphire;
}

#clock {
    border-radius: 0.8rem;
    color: @yellow;
}

#pulseaudio {
    color: @maroon;
    border-radius: 0.8rem 0px 0px 0.8rem;
}

#cpu {
    color: @yellow;
}

#memory {
    color: @green;
}

#custom-notification {
    color: @mauve;
    font-size: 1.2rem;
    border-radius: 0px 0.8rem 0.8rem 0px;
    margin-right: 1rem;
}

#custom-spotify-playing-now {
    color: @green;
    border-radius: 0.8rem;
}

#custom-power {
    border-radius: 0.8rem;
    color: @red;
    margin-right: 0.5rem;
}

#custom-updates {
    font-size: 1.2rem;
    color: @teal;
    padding-right: 0;
}

#bluetooth {
    color: @blue;
    font-size: 1.2rem;
    padding-right: 0;
}

#tray {
    margin-right: 1rem;
    border-radius: 0.8rem;
}

#tray menu,
tooltip {
    background-color: @surface0;
    color: @text;
    border-radius: 0.5rem;
}
