* {
    all: unset;
    background-image: none;
    transition: 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

window {
    font-family: "NotoSans Nerd Font";
    font-size: 24px;
    color: #cdd6f4;
    background-color: rgba(40, 40, 40, 0.6);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border-radius: 8px;
    border: none;
    background-color: rgba(50, 48, 47, 0.8);
    margin: 2rem;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    color: #1e1e2e;
}

#logout {
    background-image: image(url("./logout.png"));
}
#logout:hover {
    background-color: rgba(104, 157, 106, 0.85);
    background-image: image(url("./logout-hover.png"));
}

#shutdown {
    background-image: image(url("./power.png"));
}
#shutdown:hover {
    background-color: rgba(251, 73, 52, 0.85);
    background-image: image(url("./power-hover.png"));
}

#reboot {
    background-image: image(url("./restart.png"));
}
#reboot:hover {
    background-color: rgba(69, 133, 136, 0.85);
    background-image: image(url("./restart-hover.png"));
}
